fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic

jinja2
python-multipart

pydantic-settings

passlib[bcrypt]
bcrypt<5

cryptography

python-dotenv

httpx

reportlab

pillow

pytest
pytest-cov

itsdangerous